.form-layout{
    border-radius: 20px;
    width: 500px;
}

.message-text{
    color: white;
}

.date-right {
    float: right;
}

.justified {
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: auto;
    color: #777777;
}