{% extends "DiaryApp/base.html"%}
{% load crispy_forms_tags %}

{%block title%}Create Diary{%endblock%}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
        
        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'create-diary' %}">Create Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'view-diary' %}">View Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
    </ul>
{%endblock%}

{%block content%}
    <div class="d-flex justify-content-center align-items-center mt-3" >

        <div class="card text-white bg-secondary mb-3 " style="max-width: 35rem;">
            <div class="container shadow-md p-4 form-layout"> 
                <h3>Create a diary</h3>
                
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{CreateDiaryForm | crispy}}
                   
                    <button class="btn btn-primary btn-md w-100 btn-block mt-3"type="submit"> Create Diary</button>
                </form>
                
                
            </div>
        </div>
    </div>        
{%endblock%}