{% extends "DiaryApp/base.html"%}


{%block title%}Dashboard{%endblock%}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
        
        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'create-diary' %}">Create Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'view-diary' %}">View Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
    </ul>
{%endblock%}

{%block content%}
    <div class="d-flex justify-content-center align-items-center mt-3" >

        <div class="card text-white bg-secondary mb-3 " style="max-width: 200rem;">
            <div class="container shadow-md p-4 form-layout"> 
                <h3>Delete a diary</h3>
                <p>Are you sure?</p>
              
                <form method="POST" autocomplete="off">
                    {% csrf_token %}

            
                    <button class="btn btn-primary btn-md w-100 btn-block"type="submit"> Delete Diary</button>
                </form>

                <div class="text-center mt-2">
                    <a href="{% url 'view-diary' %}">Return to diary</a>
                </div>
                
                
            </div>
        </div>
    </div>
{%endblock%}