{% extends "DiaryApp/base.html"%}

{% load crispy_forms_tags %}

{%block title%}Sign Up{%endblock%}


{%block content%}

  <div class="d-flex justify-content-center align-items-center p-3" >

    <div class="card text-white bg-secondary mb-1 " style="max-width: 200rem;">

      <div class="container shadow-md p-4 form-layout">
        <h3>Create your account</h3>  
        <form method="POST" autocomplete="off">
          {% csrf_token %}
          {{RegistrationFrom | crispy}}
          <button class="btn btn-primary btn-md w-100 btn-block" type="submit"> Create account</button>
        </form>
      
        <div class="text-center mt-2" >
          <a href="{% url 'login' %}">Already have an account?</a>
        </div>
      
      </div>

    </div>

  </div>
{%endblock%}