{% extends "DiaryApp/base.html"%}


{%block title%}View Diary{%endblock%}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
        
        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'create-diary' %}">Create Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'view-diary' %}">View Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'profile' %}">My Profile</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
    </ul>
{%endblock%}

{%block content%}
    {% if AllDiaryForm %}
        {% for diary in AllDiaryForm %}
            <div class="d-flex justify-content-center p-3 align-items-center" >
                <div class="card border-secondary " style="max-width: 35rem;">
                    <div class="card-header" >{{ diary.date_post }}</div>
                        <div class="card-body">
                            <h4 class="card-title">{{ diary.title }}</h4>
                            <p class="card-text"  style="text-align: justify;">{{ diary.content }}</p>
                            <div class="date-right">
                                <a href="{% url 'update-diary' diary.id %}"> Update </a>
                                &nbsp;     &nbsp;     &nbsp; 
                                <a href="{% url 'delete-diary' diary.id %}"> Delete </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    {% else %}
        <div class="container shadow-md p-5 form-layout"> 
            <h2> No diary entries found</h2>
            <p>It seems you haven't added any diary entries yet. Why not <a href="{% url 'create-diary' %}">add one</a> now?</p>
        </div>
    {%endif%}



{%endblock%}