{% extends "DiaryApp/base.html"%}


{%block title%}View Diary{%endblock%}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
        
        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'create-diary' %}">Create Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-link">          
            <a class="nav-link" type="button"  href="{% url 'view-diary' %}">View Diary</a>
        </li>
        &nbsp;     &nbsp;     &nbsp; 
    </ul>
{%endblock%}

{%block content%}
    <br>
    {% if AllDiaryForm %}
        {% for diary in AllDiaryForm %}
            <div class="container bg-white shadow-md p-5 form-layout"> 
                <h2>{{ diary.title }}</h2>
                <p class="justified">{{ diary.content }}</p>
                <p class="date-right">{{ diary.date_post }}</p>
                <!-- <p>{{ diary.user }}</p> -->
                <br>
                <a href="{% url 'update-diary' diary.id %}"> Update </a>
                &nbsp;     &nbsp;     &nbsp; 
                <a href="{% url 'delete-diary' diary.id %}"> Delete </a>
            </div>
            <br>
        {%endfor%}

    {% else %}
        <div class="container bg-white shadow-md p-5 form-layout"> 
            <h2> No diary entries found</h2>
            <p>It seems you haven't added any diary entries yet. Why not <a href="{% url 'create-diary' %}">add one</a> now?</p>
        </div>
    {%endif%}

{%endblock%}